* {
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    background-color:bisque;
    display:flex;
    flex-direction: column;
    padding:50px 50px;
    margin:0px;
    border:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.btns {
    height:400px;
    align-items:end;
    border:none;
    background-color:bisque;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    
}
.btns button img{
    background-color: transparent;
    height:200px;
}
.btns button:hover{
    background-color: rgb(108, 68, 19);
    border-radius:200px;
    height:200px;
    width:auto;
}
.btns button{
    background-color: rgb(228, 159, 76);
    border-radius:200px;
    height:200px;
    width:auto;
    overflow:hidden;
    border:0px rgb(228,159,76)
}
.head{
    background-color: rgb(139, 91, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:1000px;
    height:95px;
}
h1{
    color: rgb(227, 185, 77);
    font-size: 45px;
    text-shadow: 3px 3px black;
}
.text{
    width: 1000px;
    padding:50px 0px;
    display:flex;
    gap:100px;
    height:150px;
    font-size:30px;
    justify-content: space-between;
}

.start {
    display:none;
    margin:0;
    padding:0;
    box-sizing:border-box
}
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    height:700px;
}
.menu button {
    background-color:green;
    border-radius: 5px;
    border:transparent;
    overflow:hidden;
    color:white;
    height:40px;
    width:auto;
    font-size:20px;
    flex:1;
}
.highlight {
    border: 5px solid red;
    box-shadow: 0 0 15px red;
}
.phighlight {
    border: 5px solid green;
    box-shadow: 0 0 15px green;
}
.win{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loss{
     display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div .res{
    height:50px;
    background-color: green;
    color:white;
    font-size:30px;
    border:0px transparent;
    border-radius: 5px;

}
.rest{
    height: 50px;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}
div .res:hover{
    height:50px;
    background-color: darkgreen;
    color:white;
    border:red;
     border:0px transparent;
    border-radius: 5px;
    box-shadow:0px 0px 15px red;
}